.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: black;
  text-align: center;
  height: 4rem;
  font-size: 1rem;
  line-height: 4rem;
  font-weight: bold;
  color: white;
  padding-left: 2rem;
}

.title {
  float: left;
}

.scores {
  float: right;
  padding-right: 1rem;
}

.message {
  font-size: 1.75rem;
}

@media screen and (max-width: 980px) {

  .header {
    position: static;
    height: 3rem;
    line-height: 3rem;
    margin: 0;
    padding: 0;
  }

  .title,
  .message,
  .scores {
    width: 100%;
    font-size: 1rem;
    padding: 0;
    height: 3rem;
    line-height: 3rem;
  }

}